Source: tewel
Maintainer: Dan Brumleve <dan@makemoresoftware.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: tewel
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a command-line neural synthesizer
